/* plate1 */
#chapterV .plate1 .illustration {
  height: 100vh;
  margin: 0 0 200px; 
  text-align: center;
}
#chapterV .plate1 .illustration .color1,
#chapterV .plate1 .illustration .color2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  padding: 0;
  margin: 20vh 0 0;
  transform: rotate(45deg);
  transform-origin: center;
}
#chapterV .plate1 .illustration .color1 {
  left: 16%;
}
#chapterV .plate1 .illustration .color2 {
  right: 16%;
}
#chapterV .plate1 .illustration .color1 {
  left: 16%;
}
#chapterV .plate1 .illustration:hover .color2 {
  right: 36%;
}



/* plate2 */
#chapterV .plate2 .illustration {
height: 75vh;
}
#chapterV .plate2 .illustration .color2{
position: absolute;
top: 30vh;
left: 10%;
width: 80%;
height: 15vh;
padding: 0;
}



/* plate3 */
#chapterV .plate3 .illustration {
height: 85vh;
}
#chapterV .plate3 .illustration .color2{
position: relative;
top: 10vh;
left: 10%;
width: 80%;
height: 15vh;
margin: 0 0 10vh;
}          



/* plate4 */
#chapterV .plate4 .illustration {
height: 85vh;
padding-top: 10vh;
}
#chapterV .plate4 .illustration div{
position: relative;
height: 40vh;
}
#chapterV .plate4 .illustration .color1  { top:   0vh;   transform: rotate(-2deg); z-index: 2;}
#chapterV .plate4 .illustration .color2 { top:   5vh;   transform: rotate(-4deg); z-index: 1;}
#chapterV .plate4 .illustration .color3 { top: -10vh;   transform: rotate( 0deg); z-index: 2;}
#chapterV .plate4 .illustration .color4 { top:   0vh;   transform: rotate(10deg); z-index: 3;}
#chapterV .plate4 .illustration .color5 { top:  -5vh;   transform: rotate( 2deg); z-index: 4;}
#chapterV .plate4 .illustration .color6 { top:   5vh;   transform: rotate( 0deg); z-index: 3;}
#chapterV .plate4 .illustration .color7 { top:   2.5vh; transform: rotate(-2deg); z-index: 2;}
#chapterV .plate4 .illustration .color8 { top:   1vh;   transform: rotate( 2deg); z-index: 1;}
#chapterV .plate4 .pallet md-input-container {
width: 0;
opacity: 0;
}



/* plate5 */
#chapterV .plate5 .illustration {
height: 85vh;
padding-top: 10vh;
}
#chapterV .plate5 .illustration div{
position: relative;
height: 40vh;
}
#chapterV .plate5 .color1 { top:   0vh;   transform: rotate( 4deg); z-index: 4;}
#chapterV .plate5 .color2 { top:   2vh;   transform: rotate( 0deg); z-index: 5;}
#chapterV .plate5 .color3 { top:   5vh;   transform: rotate(-2deg); z-index: 4;}
#chapterV .plate5 .color4 { top:   4vh;   transform: rotate( 5deg); z-index: 3;}
#chapterV .plate5 .color5 { top:  -5vh;   transform: rotate( 0deg); z-index: 2;}
#chapterV .plate5 .color6 { top:   1vh;   transform: rotate( 0deg); z-index: 1;}
#chapterV .plate5 .color7 { top:   1.5vh; transform: rotate( 4deg); z-index: 2;}
#chapterV .plate5 .color8 { top:   2vh;   transform: rotate(-2deg); z-index: 1;}
#chapterV .plate5 .pallet md-input-container {
width: 0;
opacity: 0;
}          