.chapter .plate,
.chapter .pallet,
.chapter .illustration {
	position: relative;
	width: 100%;
	margin: 0;
}
.chapter .plate {
	margin: 0 0 100px; 
}
.chapter .illustration {
	height: 80vh;
}
.chapter md-input-container {
	margin-bottom: 0;
}
.chapter .md-color-picker-clear {
	display: none;
}