#chapterXVII {

  .plate1,
  .plate2 {
    .illustration {
      height: 65vh;
      &:nth-child(2) {
        margin-bottom: 24px;
      }
      .cover {
        position: relative;
        font-size: 0;
        > .color {
          display: inline-block;
          height: 100%;
          z-index: 2;
          &.color1 {
            width: 40%;
          }
          &.color2 {
            width: 28%;
          }
          &.color3 {
            width: 4%;
          }
          &.color4 {
            width: 26%;
          }
        }
      }

      .film {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(-5deg);
        z-index: 2;
        .musk {
          overflow: hidden;
          height: 100%;
          width: 100%;
          transform: scale(0.5);
          .cover {
            height: 100%;
            transform: scale(2) rotate(5deg);
          }
        }
      }
    }    
  }


}