#chapterXVI {

  .plate1 {
    .illustration {
      height: 65vh;
      &:nth-child(2) {
        margin-bottom: 24px;
      }
      .cover {
        position: relative;
        font-size: 0;
        .color.bg {
          position: absolute;
          top: 0;
          left:0;
          width: 96%;
          height: 100%;
          z-index: 1;
          &.color4 {
            margin-left: 4%;
          }
          &.color2 {
            margin-left: 4%;
          }
        }
        .color {
          display: block;
          position: absolute;
          top: 0;
          height: 100%;
          z-index: 2;
        }
        &.cover1 {
          .color2_1 { width: 3%; left:  0%; }
          .color2_2 { width: 6%; left: 10%; }
          .color2_3 { width: 3%; left: 18%; }
          .color2_4 { width: 4%; left: 23%; }
          .color2_5 { width: 2%; left: 31%; }
          .color2_6 { width: 4%; left: 36%; }
          .color2_7 { width: 4%; left: 64%; }
          .color2_8 { width: 1%; left: 76%; }

          .color3_1 { width: 2%; left:  5%; }
          .color3_2 { width: 1%; left: 10%; }
          .color3_3 { width: 1%; left: 13%; }
          .color3_4 { width: 1%; left: 15%; }
          .color3_5 { width: 1%; left: 67%; }

          .color4_1 { width: 1%; left:  39%; }
        }

        &.cover2 {
          .color1_1 { width: 7%; left: 52%; }
          .color1_2 { width: 2%; left: 61%; }
          .color1_3 { width: 1%; left: 67%; }
          .color1_4 { width: 2%; left: 69%; }

          .color3_1 { width: 4%; left: 48%; }
          .color3_2 { width: 2%; left: 71%; }
          .color3_3 { width: 1%; left: 75%; }
          .color3_4 { width: 1%; left: 88%; }
          .color3_5 { width: 2%; left: 91%; }

          .color2_1 { width: 1%; left: 54%; }
          .color2_2 { width: 1%; left: 57%; }
          .color2_3 { width: 3%; left: 82%; }
          .color2_4 { width: 1%; left: 87%; }
        }

        &.cover3 {
          .color1_1 { width: 3%; left: 54%; }
          .color2_1 { width: 3%; left: 62%; }

          .color4_1 { width: 1%; left: 58%; }
          .color4_2 { width: 1%; left: 60%; }
        }

        &.cover4 {
          .color4_1 { width: 4%; left: 14%; }
          .color4_2 { width: 3%; left: 38%; }

          .color1_1 { width: 3%; left: 22%; }
          .color1_2 { width: 1%; left: 30%; }
          .color1_3 { width: 1%; left: 36%; }

          .color3_1 { width: 2%; left: 15%; }
          .color3_2 { width: 1%; left: 23%; }
          .color3_3 { width: 1%; left: 37%; }
          .color3_4 { width: 1%; left: 58%; }
          .color3_5 { width: 1%; left: 60%; }
          .color3_6 { width: 3%; left: 78%; }
        }
      }
    }    
  }

  .plate2 {
    .illustration {
      height: 35vh;
      &:nth-child(2) {
        margin-bottom: 24px;
      }
      .cover {
        font-size: 0;
        > .color {
          display: inline-block;
          position: relative;
          width: 100%;
          height: 100%;
          > .color {
            display: block;
            position: absolute;
            top: 7%;
            left: 10%;
            width: 70%;
            height: 86%;
            > .color {
              display: block;
              position: absolute;
              top: 7%;
              right: 10%;
              width: 60%;
              height: 86%;
              > .color {
                display: block;
                position: absolute;
                top: 7%;
                left: 13%;
                width: 64%;
                height: 86%;
              }
            }
          }
        }
      }
    }    
  }

  .plate3 {
    .illustration {
      padding: 8vh 5vh;
      height: 95vh;
      &:nth-child(2) {
        margin-bottom: 24px;
      }
      .cover {
        font-size: 0;
        > .color {
          display: block;
          position: absolute;
          top: 4vmin;
          width: 30vmin;
          height: 30vmin;

          border-width: 2vmin;
          border-style: solid;
          border-radius: 50%;

          > .color {
            display: block;
            position: absolute;
            left: 5.5vmin;
            top: 5.5vmin;
            width: 15vmin;
            height: 15vmin;

            border-width: 2vmin;
            border-style: solid;
            border-radius: 50%;

            > .color {
              display: block;
              position: absolute;
              position: absolute;
              left: 3.5vmin;
              top: 3.5vmin;
              width: 4vmin;
              height: 4vmin;
              border-radius: 50%;
            }
          }
        }

        > .color1 {
          left: 17vh;
        }

        > .color2 {
          right: 17vh;
        }


        $size_l : 8vh;
        $size_s : 4vh;

        .corner {
          position: absolute;
          width: 0;
          height: 0;
          transform-origin: center center;
          transform: rotate(135deg); 
        }

        &.cover1 {
          margin-bottom: 16px;
          overflow: hidden;
          
          .corner_lt {
            left: -$size_l;
            top:-$size_l;
            border: $size_l solid transparent;
            border-top: $size_l solid #f00;
            
          }

          .corner_lb {
            left: -$size_l;
            bottom:-$size_l;
            border: $size_l solid transparent;
            border-bottom: $size_l solid #f00;
          }

          .corner_rt {
            right: -$size_s;
            top:-$size_s;
            border: $size_s solid transparent;
            border-top: $size_s solid #f00;
          }

          .corner_rb {
            right: -$size_s;
            bottom:-$size_s;
            border: $size_s solid transparent;
            border-bottom: $size_s solid #f00;
          }

        }

        &.cover2 {
          overflow: hidden;
          
          .corner_lt {
            left: -$size_s;
            top:-$size_s;
            border: $size_s solid transparent;
            border-top: $size_s solid #f00;
            
          }

          .corner_lb {
            left: -$size_s;
            bottom:-$size_s;
            border: $size_s solid transparent;
            border-bottom: $size_s solid #f00;
          }

          .corner_rt {
            right: -$size_l;
            top:-$size_l;
            border: $size_l solid transparent;
            border-top: $size_l solid #f00;
          }

          .corner_rb {
            right: -$size_l;
            bottom:-$size_l;
            border: $size_l solid transparent;
            border-bottom: $size_l solid #f00;
          }

        }
      }
    }  
  }


 .plate4 {
    .illustration {
      overflow: visible;
      margin-top: 20px;
      // height: 75vh;

      > .color {
        overflow: visible;
        position: relative;
        width: 25%;
        height: 100%;
        z-index: 1;
        > .color {
          position: relative;
          width: 100%;
          height: calc(100% / 19 - 6px);
          margin-bottom: 6px;
          z-index: 2;
        }
      }
      .cover {
        overflow: hidden; 
        position: relative;
        font-size: 0;
        transform: rotate(45deg);
        transform-origin: center;
        .color {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .c1 {
          position: absolute;
          top: calc(-50% + 6.25%);
          left: calc(100% - 0.25%);
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: #fff;
          z-index: 10;
          &.c1_2 {
            top: calc(-50% + 12.5% * 1 + 6.25%);
          }
          &.c1_3 {
            top: calc(-50% + 12.5% * 2 + 6.25%);
          }
          &.c1_4 {
            top: calc(-50% + 12.5% * 3 + 6.25%);
          }
        }
        .c2 {
          position: absolute;
          left: calc(-50% + 6.25%);
          top: calc(100% - 0.25%);
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: #fff;
          z-index: 10;
          &.c2_2 {
            left: calc(-50% + 12.5% * 1 + 6.25%);
          }
          &.c2_3 {
            left: calc(-50% + 12.5% * 2 + 6.25%);
          }
          &.c2_4 {
            left: calc(-50% + 12.5% * 3 + 6.25%);
          }
        }
        .color1 {
          width: 100%;
          height: 100%;
          z-index: 1;
        }
        .color2 {
          width: 87.5%;
          height: 87.5%;
          z-index: 2;
        }
        .color3 {
          width: 75%;
          height: 75%;
          z-index: 3;
        }
        .color4 {
          width: 62.5%;
          height: 62.5%;
          z-index: 4;
        }
        .color5 {
          width: 50%;
          height: 50%;
          z-index: 5;
        }
      }
    }  
  }


}