#chapterVI {

  .plate1 {

    .illustration {
      height: 45vw;

      .box {
        position: relative;
        overflow: visible;
        height: 100%;

        .line {
          position: absolute;
          left: 0;
          top: calc(50% - 0.75vw);
          width: 100%;
          height: 1.5vw;
          padding: 0;
          margin: 0;
          z-index: 10;
          &.lineL {
            transform: rotate(45deg);
          }
          &.lineR {            
            transform: rotate(-45deg);

            .lineBridge {
                position: absolute;
                left: 100%;
                top: 0;
                width: 31.5%;
                height: 1.5vw;
                transform: rotate(45deg);
                transform-origin: left top;
            }
          }
        }
      }

      

    }
  }


  .plate2 {

    .illustration {
      height: 80vh;
      .color1, .color3 {
        position: relative;
      }
      .color2 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5vw;
        height: 5vw;
        padding: 0;
        transform: translate(-50%, -50%);
      }
    }
  }


  .plate3 {

    .illustration {

    $borderWidth : 2vw;

      height: #{$borderWidth * 25};

      .box {
        position: relative;
      
        .cover {
          overflow: hidden;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 20vw;
          height: #{$borderWidth * 14};

        
          .color2 {
            
            position: absolute;
            box-sizing: border-box;
            border-style: solid;
            border-width: $borderWidth;
            &.lg {
              width: 20vw;
              height: 100%;
            }
            &.md {
              top: #{$borderWidth * 2};
              width: calc(20vw - #{$borderWidth * 2});
              height: calc(100% - #{$borderWidth * 4});
            }
            &.sm {
              top: #{$borderWidth * 4};
              width: calc(20vw - #{$borderWidth * 4});
              height: calc(100% - #{$borderWidth * 8});
            }
            &.core {
              top: #{$borderWidth * 6};
              width: calc(20vw - #{$borderWidth * 6});
              height: calc(100% - #{$borderWidth * 12});
            }
          }

          &.r {
            
            left: 10%;
            
            .color2 {

              left: calc(-10vw + 6vw);
              
              &.lg {
                border-radius: 0 20vw 20vw 0;
              }
              &.md {
                left: calc(-10vw + 6vw);
                border-radius: 0 calc(20vw - 20px) calc(20vw - 20px) 0;
              }
              &.sm {
                left: calc(-10vw + 6vw);
                border-radius: 0 calc(20vw - 40px) calc(20vw - 40px) 0;
              }
              &.core {
                left: calc(-10vw + 6vw);
                border-radius: 0 calc(20vw - 60px) calc(20vw - 60px) 0;
              }
            }
          }
          &.l {

            right: 10%;

            .color2 {

              right: calc(-10vw + 6vw);

              &.lg {
                border-radius: 20vw 0 0 20vw;
              }
              &.md {
                right: calc(-10vw + 6vw);
                border-radius: calc(20vw - 20px) 0 0 calc(20vw - 20px);
              }
              &.sm {
                right: calc(-10vw + 6vw);
                border-radius: calc(20vw - 40px) 0 0 calc(20vw - 40px);
              }
              &.core {
                right: calc(-10vw + 6vw);
                border-radius: calc(20vw - 60px) 0 0 calc(20vw - 60px);
              }
            }
          }
        }

      }
      .borders {
        position: absolute;
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
        width: 10%;
        height: #{$borderWidth * 14};
        .color2 {
          border-top: solid $borderWidth;
          width: 100%;
          padding-bottom: $borderWidth;
        }
      }
    }
  }
}