#chapterIV {

  .plate1 {
    .illustration {
      height: 50vw;
      .color2 {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 6vmax;
        height: 12vh;
      }
    }
  }

  .plate2 .illustration {
    .color1, .color4 {
      height: 40vh;
    }
    .color2 {
      position: absolute;
      height: 15vh;
      bottom: 40vh;
      z-index: 3;
    }
    .color3 {
      position: absolute;
      height: 15vh;
      bottom: 40vh;
      z-index: 3;
      bottom: none;
      top: 40vh;
    }
    .color5 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 50vh;
      z-index: 2;
      &:hover {
        z-index: 4;
      }
    }
  }

  .plate3  {
    $squareSize : 5vw;
    > .illustration {

      > .box {
        > .innerBox {
          position: relative;          
          width: #{$squareSize * 11};
          padding: $squareSize 0;
          margin: #{$squareSize * 2} auto;
          > .squares {
            overflow: hidden;
            margin-bottom: $squareSize;
            &:last-child {
              margin-bottom: 0;
            }
            > .square {
              float: left;
              width: $squareSize;
              height: $squareSize;
              margin-left: $squareSize;
            }
          }
        }
      }
    }
  }

  .plate4 .illustration {
    .color1 {
      height: 20vh;
    }
    .color2 {
      height: 10vh;
      z-index: 3;
    }
    .color3 {
      height: 30vh;
      z-index: 3;
    }
    .color4 {
      height: 20vh;
    }
    .color5 {
      position: absolute;
      height: 60vh;
      left: 30%;
      top: 10vh;
      transform: rotateZ(4deg);
      z-index: 2;
      &:hover {
        z-index: 4;
      }
    }
  }

}