#chapterVII {

  .plate1 {

    .illustration {

      height: 70vh;

      .color1 > .color2,
      .color4 > .color3 {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8%;
        height: 12vh;
      }
      .color1 > .color3,
      .color4 > .color2 {
        position: absolute;
        bottom: 2%;
        width: 12%;
        height: 6vh;
      }
      .color1 > .color3 { right: 0; }
      .color4 > .color2 { left: 0; }

    }

  }

  .plate2 {

    .illustration {

      height: 70vh;
      padding-bottom: 40px;
      .color1 > .color2,
      .color4 > .color3 {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8%;
        height: 12vh;
      }
      .bar {
        position: absolute;
        left: calc(50% - 12.5vw);
        bottom: 0;
        width: 25vw;
        height: 30px;
        .color2, .color3 {
          height: 15px;
          width: 25vw;
        }
      }
    }
  }

  .plate3 {

    .illustration {
      height: 60vh;
      .color1 .color2,
      .color4 .color3, {
        position: relative;
        left: calc(50% - 5px);
        top: 0vh;
        height: 60vh;
        width: 10px;
        transform: rotate(45deg);
      }
    }

    .illustration2 {
      height: 20vh;
      margin: 20vh 0 0;
      .color4 .color2,
      .color1 .color3, {
        position: absolute;
        right: 0;
        top: calc(10vh - 5px);
        height: 10px;
        width: 85%;
      }
      .color1 .color3 {
        right: none;
        left: 0;
      }
    }

    .illustration3 {
      margin-top: 20px;
    }

  }


  .plate4 {
    .illustration {
      height: 70vh;
      
      .color1 > .color2,
      .color4 > .color3 {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8%;
        height: 12vh;
      }        
      .color4 > .color2,
      .color4 > .color3_2 {
        position: absolute;
        bottom: 2%;
        width: 8%;
        height: 12vh;
      }
      
      .color4 > .color2 { left: calc(50% + 4%); }  
      .color4 > .color3_2 { left: calc(50% - 4%); }
    }
  }
}