#chapterXIII {

  .plate1 {
    .illustration {
      .cover {
        > .color1,
        > .color2 {
          overflow: hidden;
          width: 100%;
          height: 100%;
          font-size: 0;
          .r {
            position: relative;
            height: 5%;
            width: 120%;
            margin-bottom: 5.5px;
            white-space: nowrap;
            &:nth-child(odd) {
              left: -7.5%;
            }
            &:nth-child(even) {
              left: calc(-2.5% + 3px);
            }
            .brick {
              display: inline-block;
              width: 8%;
              height: 100%;
              margin: 0 5.5px 0 0;
            }
          }
          .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10vw;
            height: 10vw;
          }
        }
      }
    }    
  }

  .plate2 {
        margin: 0 0 5px;
  }

  .plate2,
  .plate3 {
    .illustration {
      height: 40vh;
      .cover {
        width: 100%;
        $width1 : 1.7%;
        $width2 : ( 100% - ( $width1 * 34) ) / 17 ;
        $boxratio : 100% / ($width1 * 4 + $width2);
        .r,
        .l {
          position: absolute;
          width: $width1;
          height: 100%;
        }
        .r {
          right: 0;
        }
        .l {
          left: 0;
        }
        .box {
          display: inline-block;
          width: $width1 * 4 + $width2;
          height: 100%;
          margin-right: $width2;
          .color3 {
            width: ($width1 * 2 + $width2) * $boxratio;
            height: 100%;
            padding-left: $width1 * $boxratio;
            padding-right: $width1 * $boxratio;
            margin-left: $width1 * $boxratio;
            .color4 {
              width: 100%;
              height: 100%;
            }
          }
          &:nth-child(3){
            margin-left: $width1 + $width2;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }    
  }

  .plate4 {
    .illustration {
      padding: 8vh 0;
      .cover {
        padding: 0;
        > .color2 {
          overflow: hidden;
          width: 100%;
          height: 100%;
          font-size: 0;
          .r {
            position: relative;
            left: -7.5%;
            top: -15vw;
            height: 12vh;
            width: 1200%;
            margin-bottom: 4vh;
            white-space: nowrap;
            vertical-align: center;
            transform: rotateZ(20deg);
            transform-origin: top left;
            &:nth-child(odd) {
              left: -7.5%;
            }
            &:nth-child(even) {
              left: -5.5%;
            }
            .brick {
              display: inline-block;
              width: 10vh;
              height: 10vh;
              padding: 1vh;
              margin: 0 4vh 0 0; 
              &:nth-child(odd){
                position: relative;
                top: -1vh;
              }
              &:nth-child(even){
                width: 4vh;
                height: 12vh;
              }
              .inner {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }    
  }

}