.chapter {

  .chapterTitle {
    width: 100%;
    height: calc(100vh - 58px /*- 58px */- 64px);

    h2 {
      position: relative;
      padding: 0;
      margin: 0;
      top: calc(50% - 4rem);
      transform: translateY(-50%);

      text-align: center;
      font-family: $FONT_2;
      color: $color1 !important;
    }
  }

  .plate, .pallet, .illustration {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .plate {
    margin: 0 0 240px;

    .pallet {
      margin: 0 0 1em;
      
      md-input-container {
        margin-bottom: 0;
      }
      .md-color-picker-clear {
        display: none;
      }
    }

    .illustration {
      height: auto;
    }

    &:last-child {
      margin: 0 0 120px;
    }
  }
}