#chapterV {

  .plate1 .illustration {
    margin: 9vw 0 0;
    height: 32vw;
    text-align: center;

    .square {
      position: absolute;
      width: 25vw;
      height: 25vw;
      padding: 0;
      transform: rotate(45deg);
      transform-origin: center;
    }

    .color1 {
      left: calc(50% - 35vw);
    }

    .color2 {
      right: calc(50% - 35vw);
      transition: right .3s linear;
    }

    &:hover .color2 {
      right: calc(50% - 15vw);
    }

  }


  .plate2 .illustration {
    height: 75vh;
    .color2 {
      position: absolute;
      top: 30vh;
      left: 10%;
      width: 80%;
      height: 15vh;
      padding: 0;
    }
  }


  .plate3 .illustration {
    height: 85vh;
    .color2 {
      position: relative;
      top: 10vh;
      left: 10%;
      width: 80%;
      height: 15vh;
      margin: 0 0 10vh;
    }
  }


  .plate4 {

    .illustration {
      padding-top: 10vh;
      div {
        position: relative;
        height: 30vw;
      }
      .color1 {
        top: 0vh;
        transform: rotate(-2deg);
        z-index: 2;
      }
      .color2 {
        top: 5vh;
        transform: rotate(-4deg);
        z-index: 1;
      }
      .color3 {
        top: -10vh;
        left: -0.5vw;
        transform: rotate(0deg);
        z-index: 2;
      }
      .color4 {
        top: 2vh;
        transform: rotate(13deg);
        z-index: 3;
      }
      .color5 {
        top: -5vh;
        transform: rotate(6deg);
        z-index: 4;
      }
      .color6 {
        top: 5vh;
        left: -1vw;
        transform: rotate(2deg);
        z-index: 3;
      }
      .color7 {
        top: 2.5vh;
        left: -1vw;
        transform: rotate(-4deg);
        z-index: 2;
      }
      .color8 {
        top: 1vh;
        left: -1vw;
        transform: rotate(2deg);
        z-index: 1;
      }
    }
    .pallet md-input-container {
      width: 0;
      opacity: 0;
    }
  }


  .plate5 {
    .illustration {
      padding-top: 10vh;
      div {
        position: relative;
        height: 30vw;
      }
    }
    .color1 {
      top: 0vh;
      transform: rotate(4deg);
      z-index: 4;
    }
    .color2 {
      top: 4vh;
      left: -1vw;
      transform: rotate(0deg);
      z-index: 5;
    }
    .color3 {
      top: 9vh;
      left: -2vw;
      transform: rotate(-4deg);
      z-index: 4;
    }
    .color4 {
      top: 6vh;
      left: -2vw;
      transform: rotate(8deg);
      z-index: 3;
    }
    .color5 {
      top: -9vh;
      left: -2vw;
      transform: rotate(-2deg);
      z-index: 2;
    }
    .color6 {
      top: 1vh;
      left: -3vw;
      transform: rotate(-2deg);
      z-index: 1;
    }
    .color7 {
      top: 0vh;
      transform: rotate(5deg);
      z-index: 2;
    }
    .color8 {
      top: -3vh;
      transform: rotate(-3deg);
      z-index: 1;
    }
    .pallet md-input-container {
      width: 0;
      opacity: 0;
    }
  }
}