#chapterXX {

  .plate1 {
    .illustration {
      margin: 0 auto;
      width: 70vmax;
      height: 70vmax;
      .cover {
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 0;
        > .color {
          position: absolute;
          display: block;
          z-index: 2;
          opacity: 0.75;
          &.color1 {
            left:20%;
            top: 0;
            width: 30%;
            height: 80%;
          }
          &.color2 {
            left:35%;
            top: 20%;
            width: 30%;
            height: 80%;
          }
          &.color3 {
            left:10%;
            top: 30%;
            width: 90%;
            height: 30%;
          }
          &.color4 {
            left:0%;
            top: 45%;
            width: 90%;
            height: 30%;
          }
        }
      }
    }    
  }

}