#chapterXII {

  .plate1 {

    $circleWidth : 3vw;
    .illustration {
      // height: 60vh;
      font-size: 0;
      text-align: center;

      > .color1 {
        overflow: hidden;
        padding: $circleWidth 0;
        width: #{$circleWidth * 8 * 3};
        height: auto;
        .cover {
          display: inline-block;
          width: #{$circleWidth * 8};
          height: #{$circleWidth * 10};
          font-size: 0;
          .color {
            display: inline-block;
            width: $circleWidth;
            height: $circleWidth;
            border-radius: 50%;
            .inner_circle {
              margin: #{$circleWidth / 4};
              width: #{$circleWidth / 2};
              height: #{$circleWidth / 2};
              background-color: #fff;
              border-radius: 50%;
            }
          }
        }
      }
    }    
  }

}