/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
*:focus {
  outline: 0;
  border-color: transparent;
}
body, html {
    background: #fff;
}
body > .container {
  box-sizing: border-box;
  padding: calc(59px + 58px) 15px 60px;
}
@media (min-width: 576px) { .container { max-width: 576px;  } }
@media (min-width: 768px) { .container { max-width: 768px;  } }
@media (min-width: 992px) { .container { max-width: 992px;  } }
@media (min-width: 1200px){ .container { max-width: 1200px; } }

/* Nav */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #24292e;
  padding: 0.8rem 1rem;
  z-index: 99;
}
.navbar-brand{
  position: absolute;
  left: 16px;
  top: 23px;
  padding: 0;
  font-family: 'Libre Barcode 39 Text', 'Helvetica-Bold', sans-serif;
  font-size: 40px;
  line-height: 1;
  color: #fff !important;
  transform: scale(0.52, .5);
  transform-origin: left top;
}
.form-control {
  width: 162px !important;
  height: 32px;
  padding: 0 1rem;
  font-size: 0.75em;
  border-radius: 0;
  line-height: 1.25;
  letter-spacing: 0.1em;
  color: rgba(255,255,255,0.95);
  background-color: rgba(255,255,255,0.01);
  background-clip: unset; 
  border: 1px solid #fff;
}
input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,0.95) !important;
  text-align: right;
  letter-spacing: 0.333em;
}
input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,0.95) !important;
  text-align: right;
  letter-spacing: 0.333em;
}
input::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,0.95) !important;
  text-align: right;
  letter-spacing: 0.333em;
}
.form-control:focus {
  color: #fff;
  background-color: rgba(255,255,255,0.1);
  border-color: #fff;
}
.form-inline .btn{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@media (max-width: 768px){
  .navbar-brand{
    display: block;
    width: 182%;
    text-align: center;
  }
  #wave {
    display: none;
  }
}

nav .index {
    position: absolute;
    background-color: rgba(255,255,255,0.75);
    right: 0;
    top: 0;
}

/* I */
h1, h2{
  font-family: 'Helvetica-Bold', sans-serif;
}

/* footer */
.footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding: .5rem 1rem;
}
.footer a{
  display: block;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}











/* Common */
.chapter .plate,
.chapter .pallet,
.chapter .illustration {
  position: relative;
  width: 100%;
  margin: 0;
}
.chapter .plate {
  margin: 0 0 100px; 
}
.chapter .illustration {
  height: 80vh;
}
.chapter md-input-container {
  margin-bottom: 0;
}
.chapter .md-color-picker-clear {
  display: none;
}








/* plate1 */
#chapterIV .plate1 .illustration .color2 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
  height: 12vh;
}


/* plate2 */
#chapterIV .plate2 .illustration .color1,
#chapterIV .plate2 .illustration .color4 {
  height: 40vh
}
#chapterIV .plate2 .illustration .color2,
#chapterIV .plate2 .illustration .color3 {
  position: absolute;
  height: 15vh;
  bottom: 40vh;
  z-index: 3;
}
#chapterIV .plate2 .illustration .color3 {
  bottom: none;
  top: 40vh;
}
#chapterIV .plate2 .illustration .color5 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  z-index: 2;
}
#chapterIV .plate2 .illustration .color5:hover{
  z-index: 4;
}


/* plate3 */
#chapterIV .plate3 .illustration > .color1,
#chapterIV .plate3 .illustration > .color3 {
  height: 40vh;
}
#chapterIV .plate3 .illustration .color2 {
  position: relative;
  left: 10%;
  top: 8vh;
  width: 80%;
  height: 24vh;
}
#chapterIV .plate3 .illustration .color2 .row,
#chapterIV .plate3 .illustration .color3 .row {
  margin: 0 0 0 8.333333%;
  padding-top: 3vh; 
}
#chapterIV .plate3 .illustration .color2 .row .color1,
#chapterIV .plate3 .illustration .color2 .row .color3 {
  width: 10%;
  height: 8vh;
}


/* plate4 */
#chapterIV .plate4 .illustration .color1 {
  height: 20vh;
}
#chapterIV .plate4 .illustration .color2 {
  height: 10vh;
  z-index: 3;
}
#chapterIV .plate4 .illustration .color3 {
  height: 30vh;
  z-index: 3;
}
#chapterIV .plate4 .illustration .color4 {
  height: 20vh;
}
#chapterIV .plate4 .illustration .color5 {
  position: absolute;
  height: 60vh;
  left: 30%;
  top: 10vh;
  transform: rotateZ(4deg);
  z-index: 2;
}
#chapterIV .plate4 .illustration .color5:hover{
  z-index: 4;
}








/* plate1 */
#chapterV .plate1 .illustration {
  height: 100vh;
  margin: 0 0 200px; 
  text-align: center;
}
#chapterV .plate1 .illustration .color1,
#chapterV .plate1 .illustration .color2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  padding: 0;
  margin: 20vh 0 0;
  transform: rotate(45deg);
  transform-origin: center;
}
#chapterV .plate1 .illustration .color1 {
  left: 16%;
}
#chapterV .plate1 .illustration .color2 {
  right: 16%;
}
#chapterV .plate1 .illustration .color1 {
  left: 16%;
}
#chapterV .plate1 .illustration:hover .color2 {
  right: 36%;
}



/* plate2 */
#chapterV .plate2 .illustration {
height: 75vh;
}
#chapterV .plate2 .illustration .color2{
position: absolute;
top: 30vh;
left: 10%;
width: 80%;
height: 15vh;
padding: 0;
}



/* plate3 */
#chapterV .plate3 .illustration {
height: 85vh;
}
#chapterV .plate3 .illustration .color2{
position: relative;
top: 10vh;
left: 10%;
width: 80%;
height: 15vh;
margin: 0 0 10vh;
}          



/* plate4 */
#chapterV .plate4 .illustration {
height: 85vh;
padding-top: 10vh;
}
#chapterV .plate4 .illustration div{
position: relative;
height: 40vh;
}
#chapterV .plate4 .illustration .color1  { top:   0vh;   transform: rotate(-2deg); z-index: 2;}
#chapterV .plate4 .illustration .color2 { top:   5vh;   transform: rotate(-4deg); z-index: 1;}
#chapterV .plate4 .illustration .color3 { top: -10vh;   transform: rotate( 0deg); z-index: 2;}
#chapterV .plate4 .illustration .color4 { top:   0vh;   transform: rotate(10deg); z-index: 3;}
#chapterV .plate4 .illustration .color5 { top:  -5vh;   transform: rotate( 2deg); z-index: 4;}
#chapterV .plate4 .illustration .color6 { top:   5vh;   transform: rotate( 0deg); z-index: 3;}
#chapterV .plate4 .illustration .color7 { top:   2.5vh; transform: rotate(-2deg); z-index: 2;}
#chapterV .plate4 .illustration .color8 { top:   1vh;   transform: rotate( 2deg); z-index: 1;}
#chapterV .plate4 .pallet md-input-container {
width: 0;
opacity: 0;
}



/* plate5 */
#chapterV .plate5 .illustration {
height: 85vh;
padding-top: 10vh;
}
#chapterV .plate5 .illustration div{
position: relative;
height: 40vh;
}
#chapterV .plate5 .color1 { top:   0vh;   transform: rotate( 4deg); z-index: 4;}
#chapterV .plate5 .color2 { top:   2vh;   transform: rotate( 0deg); z-index: 5;}
#chapterV .plate5 .color3 { top:   5vh;   transform: rotate(-2deg); z-index: 4;}
#chapterV .plate5 .color4 { top:   4vh;   transform: rotate( 5deg); z-index: 3;}
#chapterV .plate5 .color5 { top:  -5vh;   transform: rotate( 0deg); z-index: 2;}
#chapterV .plate5 .color6 { top:   1vh;   transform: rotate( 0deg); z-index: 1;}
#chapterV .plate5 .color7 { top:   1.5vh; transform: rotate( 4deg); z-index: 2;}
#chapterV .plate5 .color8 { top:   2vh;   transform: rotate(-2deg); z-index: 1;}
#chapterV .plate5 .pallet md-input-container {
width: 0;
opacity: 0;
}          










/* plate1 */
#chapterVI .plate1 .illustration .color1 ,
#chapterVI .plate1 .illustration .color3 {
  position: relative;
  overflow: hidden;
}

#chapterVI .plate1 .illustration .color1 .color2.l,
#chapterVI .plate1 .illustration .color3 .color2.l {
  position: absolute;
  left: calc(50% - 0.75vw);
  width: 1.5vw;
  height: 100%;
  padding: 0;
  margin: 0;
  transform: rotate(45deg);
}

#chapterVI .plate1 .illustration .color1 .color2.r,
#chapterVI .plate1 .illustration .color3 .color2.r {
  position: absolute;
  left: calc(50% - 0.75vw);
  width: 1.5vw;
  height: 100%;
  padding: 0;
  margin: 0;
  transform: rotate(-45deg);
}

#chapterVI .plate1 .illustration .color2.h {
  position: absolute;
  left: calc(50% - 7.5vw);
  top: 13.3%;
  width: 15vw;
  height: 1.5vw;;  
}



/* plate2 */
#chapterVI .plate2 .illustration .color1 ,
#chapterVI .plate2 .illustration .color3 {
  position: relative;
}
#chapterVI .plate2 .illustration .color2{
position: absolute;
top: 50%;
left: 50%;
width: 5vw;
height: 5vw;
padding: 0;
transform: translate(-50%, -50%);
}



/* plate3 */
#chapterVI .plate3 .illustration .color1 ,
#chapterVI .plate4 .illustration .color3 {
  position: relative;
}
#chapterVI .plate3 .illustration .cover.r {
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 10%;
  width: 20vw;
  height: 60%;
}
#chapterVI .plate3 .illustration .cover.r .color2 {
  position: absolute;
  left: calc(-10vw + 10px) ;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px;
}
#chapterVI .plate3 .illustration .cover.r .color2.lg{
  border-radius: 0 20vw 20vw 0;
  width: 20vw;
  height: 100%;
}          

#chapterVI .plate3 .illustration .cover.r .color2.md{
  top: 20px;
  left: calc(-10vw + 10px) ;
  border-radius: 0 calc(20vw - 20px) calc(20vw - 20px) 0;
  width: calc(20vw - 20px);
  height: calc(100% - 40px);
}

#chapterVI .plate3 .illustration .cover.r .color2.sm{
  top: 40px;
  left: calc(-10vw + 10px) ;
  border-radius: 0 calc(20vw - 40px) calc(20vw - 40px) 0;
  width: calc(20vw - 40px);
  height: calc(100% - 80px);
}          

#chapterVI .plate3 .illustration .cover.r .color2.core{
  top: 60px;
  left: calc(-10vw + 10px) ;
  border-radius: 0 calc(20vw - 60px) calc(20vw - 60px) 0;
  width: calc(20vw - 60px);
  height: calc(100% - 120px);
}


#chapterVI .plate3 .illustration .cover.l {
  overflow: hidden;
  position: absolute;
  top: 20%;
  right: 10%;
  width: 20vw;
  height: 60%;
}
#chapterVI .plate3 .illustration .cover.l .color2 {
  position: absolute;
  right: calc(-10vw + 10px) ;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px;
}
#chapterVI .plate3 .illustration .cover.l .color2.lg{
  border-radius: 20vw 0 0 20vw;
  width: 20vw;
  height: 100%;
}          

#chapterVI .plate3 .illustration .cover.l .color2.md{
  top: 20px;
  right: calc(-10vw + 10px) ;
  border-radius: calc(20vw - 20px) 0 0 calc(20vw - 20px);
  width: calc(20vw - 20px);
  height: calc(100% - 40px);
}

#chapterVI .plate3 .illustration .cover.l .color2.sm{
  top: 40px;
  right: calc(-10vw + 10px) ;
  border-radius: calc(20vw - 40px) 0 0 calc(20vw - 40px);
  width: calc(20vw - 40px);
  height: calc(100% - 80px);
}          

#chapterVI .plate3 .illustration .cover.l .color2.core{
  top: 60px;
  right: calc(-10vw + 10px) ;
  border-radius: calc(20vw - 60px) 0 0 calc(20vw - 60px);
  width: calc(20vw - 60px);
  height: calc(100% - 120px);
}          


#chapterVI .plate3 .illustration .borders {
  position: absolute;
  left: 45%;
  top: 20%;
  width: 10%;
}
#chapterVI .plate3 .illustration .borders .color2 {
  border-top: solid 10px;
  width: 100%;
  padding-bottom: 10px;
}