<!-- chapterXXIV -->
<div id="chapterXXIV" class="chapter row" ng-controller="ChapterxxivCtrl">
<h2>Color theories ― color systems</h2>


<!-- plate1 -->
<div class="plate1 plate">

  <div class="pallet row">

  	<div class="col-5"></div>
  	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color1.option" ng-model="plate1.color1.color"></div>
	</div>
	<div class="col-5"></div>


	<div class="col-3"></div>
  	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color2.option" ng-model="plate1.color2.color"></div>
	</div>
	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color3.option" ng-model="plate1.color3.color"></div>
	</div>
	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color4.option" ng-model="plate1.color4.color"></div>
	</div>
	<div class="col-3"></div>


	<div class="col-1"></div>
  	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color5.option" ng-model="plate1.color5.color"></div>
	</div>
	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color6.option" ng-model="plate1.color6.color"></div>
	</div>
	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color7.option" ng-model="plate1.color7.color"></div>
	</div>
	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color8.option" ng-model="plate1.color8.color"></div>
	</div>
	<div class="col-2">
	  <div class="colorpicker" md-color-picker="plate1.color9.option" ng-model="plate1.color9.color"></div>
	</div>
	<div class="col-1"></div>


  </div>

  <div class="illustration row">

  	<div class="top">
  		<div class="tri" ng-style="{'border-color': 'transparent transparent ' + plate1.color1.color + ' transparent'}"></div>
  	</div>

  	<div class="mid">
  		<div class="tri tri1" ng-style="{'border-color': 'transparent transparent ' + plate1.color2.color + ' transparent'}"></div>
  		<div class="tri tri2" ng-style="{'border-color': 'transparent transparent ' + plate1.color3.color + ' transparent'}"></div>
  		<div class="tri tri3" ng-style="{'border-color': 'transparent transparent ' + plate1.color4.color + ' transparent'}"></div>
  	</div>

  	<div class="btm">
  		<div class="tri tri1" ng-style="{'border-color': 'transparent transparent ' + plate1.color5.color + ' transparent'}"></div>
  		<div class="tri tri2" ng-style="{'border-color': 'transparent transparent ' + plate1.color6.color + ' transparent'}"></div>
  		<div class="tri tri3" ng-style="{'border-color': 'transparent transparent ' + plate1.color7.color + ' transparent'}"></div>
  		<div class="tri tri4" ng-style="{'border-color': 'transparent transparent ' + plate1.color8.color + ' transparent'}"></div>
  		<div class="tri tri5" ng-style="{'border-color': 'transparent transparent ' + plate1.color9.color + ' transparent'}"></div>
  	</div>

  </div>

</div>
<!-- plate1 -->


</div>
<!-- chapterXXIV -->