<!-- chapterXIV -->
<div id="chapterXIV" class="chapter row" ng-controller="ChapterxivCtrl">
<h2>Color intervals and transformation</h2>

<!-- plate1 -->
<div class="plate1 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate1" class="col-3">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">
  	<div class="cover col-6">
  		<div class="color color1" ng-style="{'background-color': plate1.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate1.color5.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate1.color6.color}"></div>
  	</div>

  	<div class="cover col-6">
  		<div class="color color1" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate1.color4.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate1.color7.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate1.color8.color}"></div>
  	</div>

  </div>

  <div class="illustration row">
  	<div class="cover col-6">
  		<div class="color color1" ng-style="{'background-color': plate1.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate1.color5.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate1.color6.color}"></div>
  		<div class="small">
  			<div class="color color1" ng-style="{'background-color': plate1.color3.color}"></div>
	  		<div class="color color2" ng-style="{'background-color': plate1.color4.color}"></div>
	  		<div class="color color3" ng-style="{'background-color': plate1.color7.color}"></div>
	  		<div class="color color4" ng-style="{'background-color': plate1.color8.color}"></div>
  		</div>
  	</div>

  	<div class="cover col-6">
  		<div class="color color1" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate1.color4.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate1.color7.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate1.color8.color}"></div>
  		<div class="small">
  			<div class="color color1" ng-style="{'background-color': plate1.color1.color}"></div>
	  		<div class="color color2" ng-style="{'background-color': plate1.color2.color}"></div>
	  		<div class="color color3" ng-style="{'background-color': plate1.color5.color}"></div>
	  		<div class="color color4" ng-style="{'background-color': plate1.color6.color}"></div>
  		</div>
  	</div>

  </div>
</div>
<!-- plate1 -->


<!-- plate2 -->
<div class="plate2 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate2" ng-class="{ 'col-3' : $index <= 3, 'col-2' : $index > 3}">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">
  	<div class="cover col-4">
  		<div class="color color1" ng-style="{'background-color': plate2.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate2.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate2.color3.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate2.color4.color}"></div>
  		<div class="small">
  			<div class="color color1" ng-style="{'background-color': plate2.color5.color}"></div>
	  		<div class="color color2" ng-style="{'background-color': plate2.color6.color}"></div>
	  		<div class="color color3" ng-style="{'background-color': plate2.color11.color}"></div>
	  		<div class="color color4" ng-style="{'background-color': plate2.color12.color}"></div>
  		</div>
  	</div>

  	<div class="cover col-4">
  		<div class="color color1" ng-style="{'background-color': plate2.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate2.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate2.color3.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate2.color4.color}"></div>
  		<div class="small">
  			<div class="color color1" ng-style="{'background-color': plate2.color7.color}"></div>
	  		<div class="color color2" ng-style="{'background-color': plate2.color8.color}"></div>
	  		<div class="color color3" ng-style="{'background-color': plate2.color13.color}"></div>
	  		<div class="color color4" ng-style="{'background-color': plate2.color14.color}"></div>
  		</div>
  	</div>

  	<div class="cover col-4">
  		<div class="color color1" ng-style="{'background-color': plate2.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate2.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate2.color3.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate2.color4.color}"></div>
  		<div class="small">
  			<div class="color color1" ng-style="{'background-color': plate2.color9.color}"></div>
	  		<div class="color color2" ng-style="{'background-color': plate2.color10.color}"></div>
	  		<div class="color color3" ng-style="{'background-color': plate2.color15.color}"></div>
	  		<div class="color color4" ng-style="{'background-color': plate2.color16.color}"></div>
  		</div>
  	</div>
  </div>
</div>
<!-- plate2 -->


<!-- plate3 -->
<div class="plate3 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate3" ng-class="{ 'col-12' : $index == 0, 'col-3' : $index != 0}">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row" ng-style="{'background-color': plate3.color0.color}">
  	<div class="cover col-6">
  		<div class="color color1" ng-style="{'background-color': plate3.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate3.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate3.color5.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate3.color6.color}"></div>
  		<div class="small">
  			<div class="color color1" ng-style="{'background-color': plate3.color3.color}"></div>
	  		<div class="color color2" ng-style="{'background-color': plate3.color4.color}"></div>
	  		<div class="color color3" ng-style="{'background-color': plate3.color7.color}"></div>
	  		<div class="color color4" ng-style="{'background-color': plate3.color8.color}"></div>
  		</div>
  	</div>

  	<div class="cover col-6">
  		<div class="color color1" ng-style="{'background-color': plate3.color3.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate3.color4.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate3.color7.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate3.color8.color}"></div>
  		<div class="small">
  			<div class="color color1" ng-style="{'background-color': plate3.color1.color}"></div>
	  		<div class="color color2" ng-style="{'background-color': plate3.color2.color}"></div>
	  		<div class="color color3" ng-style="{'background-color': plate3.color5.color}"></div>
	  		<div class="color color4" ng-style="{'background-color': plate3.color6.color}"></div>
  		</div>
  	</div>
  </div>
</div>
<!-- plate3 -->




</div>
<!-- chapterXIV -->