<!-- chapterXV -->
<div id="chapterXVI" class="chapter row" ng-controller="ChapterxviCtrl">
<h2>Color juxtaposition --- harmony --- quantity</h2>

<!-- plate1 -->
<div class="plate1 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate1" class="col-3">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">

  	<div class="cover cover1 col-6">
  		<div class="color color1 bg" ng-style="{'background-color': plate1.color1.color}"></div>

  		<div class="color color2 color2_1" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_2" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_3" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_4" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_5" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_6" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_7" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_8" ng-style="{'background-color': plate1.color2.color}"></div>

  		<div class="color color3 color3_1" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_2" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_3" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_4" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_5" ng-style="{'background-color': plate1.color3.color}"></div>

  		<div class="color color4 color4_1" ng-style="{'background-color': plate1.color4.color}"></div>
  	</div>

  	<div class="cover cover2 col-6">
  		<div class="color color4 bg" ng-style="{'background-color': plate1.color4.color}"></div>

  		<div class="color color1 color1_1" ng-style="{'background-color': plate1.color1.color}"></div>
  		<div class="color color1 color1_2" ng-style="{'background-color': plate1.color1.color}"></div>
  		<div class="color color1 color1_3" ng-style="{'background-color': plate1.color1.color}"></div>
  		<div class="color color1 color1_4" ng-style="{'background-color': plate1.color1.color}"></div>

  		<div class="color color3 color3_1" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_2" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_3" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_4" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_5" ng-style="{'background-color': plate1.color3.color}"></div>

  		<div class="color color2 color2_1" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_2" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_3" ng-style="{'background-color': plate1.color2.color}"></div>
  		<div class="color color2 color2_4" ng-style="{'background-color': plate1.color2.color}"></div>
  	</div>

  </div>

  <div class="illustration row">

  	<div class="cover cover3 col-6">
  		<div class="color color3 bg" ng-style="{'background-color': plate1.color3.color}"></div>

  		<div class="color color1 color1_1" ng-style="{'background-color': plate1.color1.color}"></div>

  		<div class="color color2 color2_1" ng-style="{'background-color': plate1.color2.color}"></div>

  		<div class="color color4 color4_1" ng-style="{'background-color': plate1.color4.color}"></div>
  		<div class="color color4 color4_2" ng-style="{'background-color': plate1.color4.color}"></div>
  	</div>

  	<div class="cover cover4 col-6">
  		<div class="color color2 bg" ng-style="{'background-color': plate1.color2.color}"></div>

  		<div class="color color4 color4_1" ng-style="{'background-color': plate1.color4.color}"></div>
  		<div class="color color4 color4_2" ng-style="{'background-color': plate1.color4.color}"></div>  		

  		<div class="color color1 color1_1" ng-style="{'background-color': plate1.color1.color}"></div>
  		<div class="color color1 color1_2" ng-style="{'background-color': plate1.color1.color}"></div>
  		<div class="color color1 color1_3" ng-style="{'background-color': plate1.color1.color}"></div>

  		<div class="color color3 color3_1" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_2" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_3" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_4" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_5" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color3 color3_6" ng-style="{'background-color': plate1.color3.color}"></div>
  		
  	</div>

  </div>

</div>
<!-- plate1 -->


<!-- plate2 -->
<div class="plate2 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate2" class="col-3">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">

    <div class="cover col-2">
      <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
        <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
          <div class="color color3" ng-style="{'background-color': plate2.color3.color}">
            <div class="color color4" ng-style="{'background-color': plate2.color4.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
        <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
          <div class="color color4" ng-style="{'background-color': plate2.color4.color}">
            <div class="color color3" ng-style="{'background-color': plate2.color3.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
        <div class="color color4" ng-style="{'background-color': plate2.color4.color}">
          <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
            <div class="color color3" ng-style="{'background-color': plate2.color3.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
        <div class="color color4" ng-style="{'background-color': plate2.color4.color}">
          <div class="color color3" ng-style="{'background-color': plate2.color3.color}">
            <div class="color color2" ng-style="{'background-color': plate2.color2.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
        <div class="color color3" ng-style="{'background-color': plate2.color3.color}">
          <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
            <div class="color color4" ng-style="{'background-color': plate2.color4.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
        <div class="color color3" ng-style="{'background-color': plate2.color3.color}">
          <div class="color color4" ng-style="{'background-color': plate2.color4.color}">
            <div class="color color2" ng-style="{'background-color': plate2.color2.color}"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="illustration row">

    <div class="cover col-2">
      <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
        <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
          <div class="color color4" ng-style="{'background-color': plate2.color4.color}">
            <div class="color color3" ng-style="{'background-color': plate2.color3.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
        <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
          <div class="color color3" ng-style="{'background-color': plate2.color3.color}">
            <div class="color color4" ng-style="{'background-color': plate2.color4.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
        <div class="color color4" ng-style="{'background-color': plate2.color4.color}">
          <div class="color color3" ng-style="{'background-color': plate2.color3.color}">
            <div class="color color1" ng-style="{'background-color': plate2.color1.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
        <div class="color color4" ng-style="{'background-color': plate2.color4.color}">
          <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
            <div class="color color3" ng-style="{'background-color': plate2.color3.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
        <div class="color color3" ng-style="{'background-color': plate2.color3.color}">
          <div class="color color1" ng-style="{'background-color': plate2.color1.color}">
            <div class="color color4" ng-style="{'background-color': plate2.color4.color}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cover col-2">
      <div class="color color2" ng-style="{'background-color': plate2.color2.color}">
        <div class="color color3" ng-style="{'background-color': plate2.color3.color}">
          <div class="color color4" ng-style="{'background-color': plate2.color4.color}">
            <div class="color color1" ng-style="{'background-color': plate2.color1.color}"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- plate2 -->


<!-- plate3 -->
<div class="plate3 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate3" ng-class="{ 'col-12' : $index == 0, 'col-4' : $index != 0}">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row" ng-style="{'background-color': plate3.color0.color}">
  	<div class="col-1"></div>
  	<div class="cover col-10">
  		<div class="color color1" ng-style="{'background-color': plate3.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate3.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate3.color3.color}"></div>
  	</div>

  </div>
</div>
<!-- plate3 -->


<!-- plate4 -->
<div class="plate4 plate">
  <div class="pallet row">

  	<div class="col-1"></div>
	<div ng-repeat="color in plate4" class="col-2">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">
  	<div class="col-3"></div>
  	<div class="cover col-6">

  		<div class="c1"></div>
  		<div class="c1 c1_2"></div>
  		<div class="c1 c1_3"></div>
  		<div class="c1 c1_4"></div>

  		<div class="c2"></div>
  		<div class="c2 c2_2"></div>
  		<div class="c2 c2_3"></div>
  		<div class="c2 c2_4"></div>

  		<div class="color color1" ng-style="{'background-color': plate4.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate4.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate4.color3.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate4.color4.color}"></div>
  		<div class="color color5" ng-style="{'background-color': plate4.color5.color}"></div>

  		
  	</div>

  </div>
</div>
<!-- plate4 -->




</div>
<!-- chapterXVI -->