<!-- chapterXV -->
<div id="chapterXV" class="chapter row" ng-controller="ChapterxvCtrl">

<div class="chapterTitle">
  <h2>The middle mixture again ― intersecting colors</h2>
</div>

<!-- plate1 -->
<div class="plate1 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate1" class="col-3">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">

  	<div class="cover col-6 l">
  		<div class="color color1" ng-style="{'background-color': plate1.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate1.color2.color}"></div>
  	</div>

  	<div class="cover col-6">
  		<div class="color color3" ng-style="{'background-color': plate1.color3.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate1.color4.color}"></div>
  	</div>

  </div>

</div>
<!-- plate1 -->


<!-- plate2 -->
<div class="plate2 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate2" class="col-3">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">

  	<div class="cover col-6 l">
  		<div class="color color1" ng-style="{'background-color': plate2.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate2.color2.color}"></div>
  	</div>

  	<div class="cover col-6">
  		<div class="color color3" ng-style="{'background-color': plate2.color3.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate2.color4.color}"></div>
  	</div>

  </div>

</div>
<!-- plate2 -->


<!-- plate3 -->
<div class="plate3 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate3" ng-class="{ 'col-12' : $index == 0, 'col-4' : $index != 0}">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row" ng-style="{'background-color': plate3.color0.color}">
  	<div class="col-1"></div>
  	<div class="cover col-10">
  		<div class="color color1" ng-style="{'background-color': plate3.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate3.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate3.color3.color}"></div>
  	</div>

  </div>
</div>
<!-- plate3 -->


<!-- plate4 -->
<div class="plate4 plate">

  <div class="pallet row">

  	<div class="col-1"></div>

    <div ng-repeat="color in plate4" class="col-2">
      <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
    </div>

  </div>

  <div class="illustration">

  	<div class="cover">

  		<div class="c1"></div>
  		<div class="c1 c1_2"></div>
  		<div class="c1 c1_3"></div>
  		<div class="c1 c1_4"></div>

  		<div class="c2"></div>
  		<div class="c2 c2_2"></div>
  		<div class="c2 c2_3"></div>
  		<div class="c2 c2_4"></div>

  		<div class="color color1" ng-style="{'background-color': plate4.color1.color}"></div>
  		<div class="color color2" ng-style="{'background-color': plate4.color2.color}"></div>
  		<div class="color color3" ng-style="{'background-color': plate4.color3.color}"></div>
  		<div class="color color4" ng-style="{'background-color': plate4.color4.color}"></div>
  		<div class="color color5" ng-style="{'background-color': plate4.color5.color}"></div>

  	</div>

  </div>
</div>
<!-- plate4 -->




</div>
<!-- chapterXV -->