<!-- chapterXXIII -->
<div id="chapterXXIII" class="chapter row" ng-controller="ChapterxxiiiCtrl">
<h2>From color temperature to humidity in color</h2>


<!-- plate1 -->
<div class="plate1 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate1" class="col-6">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">

  	<div class="l">
  		<div class="bar bar1">
  			<div ng-repeat="i in [0,1,2,3,4]" class="box" ng-style="{'background-color': plate1.color1.color}"></div>
  		</div>

  		<div class="bar bar2">
  			<div ng-repeat="i in [0,1,2,3,4]" class="box" ng-style="{'background-color': plate1.color2.color}"></div>
  		</div>
  	</div>

  	<div class="r">
  		<div class="bar bar1">
  			<div ng-repeat="i in [0,1,2,3,4]" class="box" ng-style="{'background-color': plate1.color1.color}"></div>
  		</div>

  		<div class="bar bar2">
  			<div ng-repeat="i in [0,1,2,3,4]" class="box" ng-style="{'background-color': plate1.color2.color}"></div>
  		</div>
  	</div>

  	<div class="cover" ng-style="{'background-color': plate1.color1.color}">

  		<div class="circle circle1" ng-style="{'border-color': plate1.color2.color}">
  			<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  				<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  					<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  						<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  							<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  								<div class="circle" ng-style="{'border-color': plate1.color2.color}"></div>	
  							</div>	
  						</div>	
  					</div>	
  				</div>		
  			</div>	
  		</div>


  		<div class="circle circle2" ng-style="{'border-color': plate1.color2.color}">
  			<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  				<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  					<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  						<div class="circle" ng-style="{'border-color': plate1.color2.color}"></div>	
  					</div>	
  				</div>		
  			</div>	
  		</div>


  		<div class="circle circle3" ng-style="{'border-color': plate1.color2.color}">
  			<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  				<div class="circle" ng-style="{'border-color': plate1.color2.color}"></div>		
  			</div>	
  		</div>

  	</div>

  </div>

</div>
<!-- plate1 -->


</div>
<!-- chapterXXIII -->