<!-- chapterXXII -->
<div id="chapterXXII" class="chapter row" ng-controller="ChapterxxiiCtrl">
<h2>From color temperature to humidity in color</h2>


<!-- plate1 -->
<div class="plate1 plate">
  <div class="pallet row">

	<div ng-repeat="color in plate1" class="col-6">
	  <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
	</div>

  </div>

  <div class="illustration row">

  	<div class="cover" ng-style="{'background-color': plate1.color1.color}">

  		<div class="circle circle1" ng-style="{'border-color': plate1.color2.color}">
  			<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  				<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  					<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  						<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  							<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  								<div class="circle" ng-style="{'border-color': plate1.color2.color}"></div>	
  							</div>	
  						</div>	
  					</div>	
  				</div>		
  			</div>	
  		</div>


  		<div class="circle circle2" ng-style="{'border-color': plate1.color2.color}">
  			<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  				<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  					<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  						<div class="circle" ng-style="{'border-color': plate1.color2.color}"></div>	
  					</div>	
  				</div>		
  			</div>	
  		</div>


  		<div class="circle circle3" ng-style="{'border-color': plate1.color2.color}">
  			<div class="circle" ng-style="{'border-color': plate1.color2.color}">
  				<div class="circle" ng-style="{'border-color': plate1.color2.color}"></div>		
  			</div>	
  		</div>

  	</div>

  </div>

</div>
<!-- plate1 -->



<!-- plate2 -->
<div class="plate2 plate">
  <div class="pallet row">

  <div ng-repeat="color in plate2" class="col-4">
    <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
  </div>

  </div>

  <div class="illustration row">

    <div class="cover" ng-style="{'background-color': plate2.color1.color}">

      <div class="cover" ng-style="{'background-color': plate2.color2.color}">
        
        <div class="box">
            <div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]" class="square square-{{i}}" ng-style="{'background-color': plate2.color3.color}"></div>
        </div>

      </div>

    </div>

  </div>

</div>
<!-- plate2 -->


<!-- plate3 -->
<div class="plate3 plate">
  <div class="pallet row">

  <div ng-repeat="color in plate3" class="col-4">
    <div class="colorpicker" md-color-picker="color.option" ng-model="color.color"></div>
  </div>

  </div>

  <div class="illustration row">

    <div class="cover" ng-style="{'background-color': plate3.color1.color}">

      <div class="cover" ng-style="{'background-color': plate3.color2.color}">
        
        <div class="box" ng-style="{'background-color': plate3.color3.color}">
            <div ng-repeat="i in [0,1,2,3,4]" class="square square-{{i}}">
              <div class="bar1" ng-style="{'background-color': plate3.color2.color}"></div>
              <div class="bar2" ng-style="{'background-color': plate3.color2.color}"></div>
            </div>
        </div>

      </div>

    </div>



    <div class="cover" ng-style="{'background-color': plate3.color1.color}">

      <div class="cover" ng-style="{'background-color': plate3.color3.color}">
        
        <div class="box" ng-style="{'background-color': plate3.color2.color}">
            <div ng-repeat="i in [0,1,2,3,4]" class="square square-{{i}}">
              <div class="bar1" ng-style="{'background-color': plate3.color3.color}"></div>
              <div class="bar2" ng-style="{'background-color': plate3.color3.color}"></div>
            </div>
        </div>

      </div>

    </div>

  </div>

</div>
<!-- plate2 -->



</div>
<!-- chapterXXII -->