<div id="top" class="jumbotron">

  <h1>This is study of " <span class="title">Interaction of Color</span> " by <span class="author">Josef Albers</span></h1>

  <br>

  <p class="lead">
    Official Site: <a target="_blank" href="http://yupnet.org/interactionofcolor/">INTERACTION OF COLOR</a>
    <br>
    This book is teaching paper-based theory.
    But I need to use colors in web design, I made plates that works on display as study.
    <br>
    This is some sort of fun's web site to study "Interaction of Color" on Display.
    <br>
    Original web site is here.
    <br>
    Great honor to Josef Albers.
  </p>
</div>